---
layout: table
---

<table class="grid" style="width: 100%">
    <caption></caption>
    <colgroup>
        <col width="20%" />
        <col width="65%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr class="header">
            <th>Field</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><br/>
          <span class="tableRequired">required</span></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
</table>
